/proyectoSandovalJ/mayorOmenor/nbproject/private/
/proyectoSandovalJ/mayorOmenor/build/
/proyectoSandovalJ/ejercicioWhile/nbproject/private/
/proyectoSandovalJ/ejercicioWhile/build/
/proyectoSandovalJ/ventas/nbproject/private/
/proyectoSandovalJ/ventas/build/
/proyectoSandovalJ/longitud/nbproject/private/
/proyectoSandovalJ/longitud/build/
